<! DOCTYPE html>

<html lang = "en">
<head>
    <meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title>Pillock - About Us</title>
</head>

<body class = "full-height-grow">

    <%- include('../views/partials/header.ejs') %>
    
    <div class = "container full-height-grow">
		<section class = "main-section">
                <div class = "left">
                    <h1>About Us</h1>
                </div>
                <div class = "page-content">Now, this is a story all about how
                <br>Our lives got flipped turned Upside Down
                <br>And we'd like to take a minute, just sit right there
                <br>We'll tell you how we became Team 6 of Bel Air
                </div>
		</section>
    </div>
    
    <%- include('../views/partials/footer.ejs') %>
		
</body>
</html>