<! DOCTYPE html>

<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title>Pillock</title>
</head>

<body class = "full-height-grow">
	<%- include('../views/partials/loginHeader.ejs') %>

	<div class = "container full-height-grow">
		<section class = "main-section">
			<div class = "left">
				<h1 class = 'index-title'>Welcome </h1>
				&lt; This is the page to get down with it  &gt;
			</div>
			<div class = "page-content">This will be filled in sometime</div>
		</section>
	</div>
	
	<%- include('../views/partials/footer.ejs') %>
	<script>
		window.onscroll = function() {myFunction()};

		var header = document.getElementById("main-header");
		var footer = document.getElementById("main-footer");
		var sticky = header.offsetTop;

		function myFunction() {
		if (window.pageYOffset > sticky) {
			header.classList.add("sticky");
		} else {
			header.classList.remove("sticky");
		}
		}
	</script>
</body>
</html>


