<! DOCTYPE html>

<html lang = "en">
<head>
    <script type = "text/javascript" src = "layout.ejs"></script>
    <meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title>Pillock - Log In</title>
</head>

<body class = "full-height-grow">
   
    <div class = "container full-height-grow">
		<section class = "main-section">
            <div class = "left">
                <h1>Log In</h1>
            </div>

            <form class="join-form">
                <div class="input-group">
                    <label>Username or Email:</label>
                    <input type="email">
                </div>
                <div class="input-group">
                    <label>Password:</label>
                    <input type="password">
                </div>
                <div class="input-group">
                    <button onclick = "loggedIn = true" class="btn">Log In</button>
                </div>
                <div class = "input-group">
                    <a href = "/" class = "forgot">Forgot Password?</a>
                </div>
            </form>
		</section>
	</div>

</body>
</html>