<! DOCTYPE html>

<html lang = "en">
<head>
    <script type = "text/javascript" src = "layout.ejs"></script>
    <meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title>Pillock - Log In</title>
</head>

<body class = "full-height-grow">

    <%- include('../views/partials/header.ejs') %>
   
    <div class = "container full-height-grow">
		<section class = "main-section">
            <div class = "left">
                <h1>Change Password</h1>
            </div>
		    <% if (typeof message != undefined && message !='') { %>
				<%= message %>
            <% } else if(typeof passwordm != undefined && passwordm != ''){ %>
                <%= passwordm %>
            <% } %>
            <script type="text/javascript">
                function checkPass() {
                    var password1 = document.getElementById('pw1');
                    var password2 = document.getElementById('pw2');

                    var confirmed_message = document.getElementById('test');
                    if(password1.value.trim() == "" || password2.value.trim() == ""){
                        confirmed_message.innterHTML = "";
                    } else if (password1.value == password2.value) {
                        confirmed_message.innerHTML = "Passwords match!";
                        document.getElementById('resbtn').disabled = false;
                        document.getElementById('resbtn').style.opacity = "100%";
                    } else {
                        confirmed_message.innerHTML = "Passwords do not match...please try again.";
                        document.getElementById('resbtn').disabled = true;
                        document.getElementById('resbtn').style.opacity = "25%";
                    }
                }
                password1.onchange = checkPass();
                password2.onchange = checkPass();
            </script>
            <form class="join-form" action="/Change-Password?_method=PUT" method="POST">
                <div class="input-group">
                    <label for = "email">Enter Email:</label>
                    <input type="text" id = "email" name = "email" autofocus required>
                </div>
                <div class="input-group">
                    <label for = "pw1">New Password:</label>
                    <input type="password" id = "pw1" name = "pw1" minlength="8" onkeyup="checkPass();" required>
                </div>
                <div class="input-group">
                    <label for = "pw2">Confirm Password:</label>
                    <input type="password" id = "pw2" name = "pw2" minlength="8" onkeyup="checkPass();" required>
                    <span id="test"></span>
                </div>
                <div class="input-group">
                    <button type = "submit" class="btn" id="resbtn">Submit</button>
                </div>
                <div class = "input-group">
                    <a href = "/" class = "forgot">Cancel</a>
                </div>
            </form>
		</section>
	</div>

    <%- include('../views/partials/footer.ejs') %>
    
</body>
</html>