<! DOCTYPE html>

<html lang = "en">
<head>
    <script type = "text/javascript" src = "layout.ejs"></script>
    <meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title>Pillock - Log In</title>
</head>

<body class = "full-height-grow">

    <%- include('../views/partials/header.ejs') %>
   
    <div class = "container full-height-grow">
		<section class = "main-section">
            <div class = "left">
                <h1>Change Password</h1>
            </div>
		    <% if (messages.error) { %>
				<%= messages.error %>
		    <% } %>
            <form class="join-form" action="/Change-Password?_method=PUT" method="POST">
                <div class="input-group">
                    <label for = "email">Enter Email:</label>
                    <input type="text" id = "email" name = "email" autofocus required>
                </div>
                <div class="input-group">
                    <label for = "pw1">New Password:</label>
                    <input type="password" id = "pw1" name = "pw1" required>
                </div>
                <div class="input-group">
                    <label for = "pw2">Confirm Password:</label>
                    <input type="password" id = "pw2" name = "pw2" required>
                </div>
                <div class="input-group">
                    <button type = "submit" class="btn">Submit</button>
                </div>
                <div class = "input-group">
                    <a href = "/" class = "forgot">Cancel</a>
                </div>
            </form>
		</section>
	</div>

    <%- include('../views/partials/footer.ejs') %>
    
</body>
</html>