<! DOCTYPE html>

<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width,intial-scale=1.0">
	<link href = "/stylesheets/main.css" rel = "stylesheet">
	<title>Pillock - Sign Up</title>
</head>

<body class = "full-height-grow">
	
	<div class = "container full-height-grow">
		<section class = "main-section-signup">
            <form class="join-form">
				<div class = "left">
					<h1>Sign Up</h1>
				</div>	
                <div class="input-group">
                    <label>First Name:</label>
                    <input type="text">
				</div>
				<div class="input-group">
                    <label>Last Name:</label>
                    <input type="text">
				</div>
				<div class="input-group">
                    <label>Username:</label>
                    <input type="text">
                </div>
                <div class="input-group">
                    <label>Email:</label>
                    <input type="email">
                </div>
                <div class="input-group">
                    <label>Password:</label>
                    <input type="password">
                </div>
                <div class="input-group">
					<button type="submit" class="btn">Sign Up</button>
				</div>
				<div class = "input-group-cancel">
					<a href = "#)" onclick="history.go(-1)">Cancel</a>
				</div>
            </form>
		</section>
	</div>

</body>
</html>


